sudo: false
cache:
  directories:
    $HOME/.npm
    $HOME/.cache

language: node_js
node_js:
  - "4"
  - "5"
  - node

os:
  - linux

before_install:
  - npm config set progress false
  - npm i -g npm@3
  - npm i -g jspm
#  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"

install:
  - node --version
  - npm --version
  - git --version
  - jspm --version
  - npm run setup

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

script:
  - npm run eslint
  - npm run test
  - npm run test-e2e
