<div class="navigation">
    <md-sidenav class="md-sidenav-left" md-component-id="applicationNavigation"
                md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
        <md-toolbar class="md-theme-indigo color">
            <h1 class="md-toolbar-tools">{{'navigationComponent.navigation' | translate}}</h1>
        </md-toolbar>
        <md-content layout-padding="">
            <md-list>
                <md-list-item class="secondary-button-padding" ui-sref="app.index">
                    <p>{{'navigationComponent.home' | translate}}</p>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
</div>
